@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700, 800;
  src: url(../fonts/open_sans/OpenSans-Regular.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/permanent_marker/PermanentMarker-Regular.ttf) format('truetype');
  font-display: swap;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  width: 100%;
}

.testimonials-wrap {
  padding: 20px;
}

.testimonial_slide {
  display: none;
}

.testimonial_slide p {
  font-style: italic;
}

.testimonial-author {
  font-size: 0.9em;
  display: block;
  margin-top: 10px;
}

.testimonial-author-role {
  font-size: 0.7em;
  line-height: 1.6em;
  display: block;
}

.glider-dot {
  background: #ffcb30!important;
}

.glider-dot.active {
  background: #ff3737!important;
}

.glider-dots {
  margin-top: 20px !important;
}

img.lazyload:not([src]) {
  visibility: hidden;
}

.hidden {
  display: none !important;
}

html,
body {
  background-color: #333;
  color: white;
  font-size: 15px;
  -webkit-text-size-adjust: 100%;
  line-height: 1.65em;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.platforms {
  margin-top: 10px;
  margin-bottom: 10px;
}

.platforms i {
  margin-left: 3px;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.column {
  width: inherit;
}

.add-bottom {
  margin-bottom: 2rem !important;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.no-support {
  margin: 2rem auto;
  text-align: center;
  width: 90%;
}

audio {
  display: none;
}

.nav-fixed {
  position: fixed;
  z-index: 100;
  top: 0;
  background: black;
  left: 0;
  right: 0;
  padding-top: 20px !important;
}

.nav {
  /*font-size: 1.5em;*/
  padding: 20px;
  padding-top: 40px;
  font-family: 'Permanent Marker', cursive;
  display: flex;
  justify-content: space-between;
  color: #ffcb30;
}

.nav a {
  color: #ffcb30;
}

.nav a.selected {
  color: #ff3737;
}

span.inline-title-label {
  color: #737373;
  font-size: 12px;
}

.socials {
  padding-top: 10px;
}

.socials a {
  font-size: 1.4em;
  margin-right: 0.6em;
}

.bg {
  background: url(../images/stefis-blue-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  -webkit-transition: -webkit-filter linear 0.3s;
  transition: -webkit-filter linear 0.3s;
  -o-transition: filter linear 0.3s;
  transition: filter linear 0.3s;
  transition: filter linear 0.3s, -webkit-filter linear 0.3s;
}

.back-to-top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#back-to-top {
  position: relative;
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 30px;
  background: #333;
  color: #ffcb30;
  cursor: pointer;
  border: 2px solid;
  border-color: transparent;
  border-radius: 50%;
  padding: 10px;
  text-decoration: none;
  font-size: 1.5em;
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

#back-to-top.show {
  opacity: 1;
}

#content {
  height: 2000px;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  color: white;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 2em;
  color: #ffcb30;
}

p {
  font-size: 0.95em;
  line-height: 1.8em;
}

iframe {
  overflow: hidden;
  border: 0;
  outline: 0;
  width: 100%;
}

.about p {
  margin-bottom: 10px;
}

.full-width {
  width: 100% !important;
}

.font-red {
  color: #ff3737 !important;
}
.contact,
footer a,
.disclaimer a {
  font-weight: 700;
  color: #ffcb30;
  .text-decoration: none;
}

.contact:hover,
footer a:hover,
.disclaimer a:hover,
.item a:hover .img-container h3,
#back-to-top:hover,
.socials a:hover {
  color: #ff3737;
}

#back-to-top:hover {
  border: 2px solid #ff3737;
}

.desktop--browser .image-transition {
  overflow: hidden;
}

.desktop--browser .image-transition img {
  transition: all 0.2s;
}

.desktop--browser .image-transition img:hover {
  transform: scale(1.1);
}

.divider {
  background: #5d5d5d;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.h--divider {
  background: #444;
  width: 3px;
  max-height: 100%;
  height: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
}

.main-container {
  z-index: 10;
  position: relative;
}

.blur-bg {
  -webkit-filter: blur(35px);
  -moz-filter: blur(35px);
  filter: blur(35px);
}

.content {
  background: rgba(10, 10, 10);
  border-radius: 20px;
  z-index: 100;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding-bottom: 20px;
}

.logo {
  bottom: 20px;
  position: relative;
  margin-top: 60px;
  margin-left: 15px;
  margin-right: 15px;
  z-index: 100;
}

.logo img {
  width: 60px;
}

.text strong {
  -webkit-transition: ease 0.2s all;
  -o-transition: ease 0.2s all;
  transition: ease 0.2s all;
  font-size: 1.3em;
  margin: 0;
  padding: 0;
  letter-spacing: 1.8px;
  line-height: 1.3em;
  font-family: 'Permanent Marker', cursive;
  border-top: 10px solid #ffcb30;
  padding-top: 10px;
}

.text p {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  font-size: 0.9em;
  text-shadow: 0 0 8px #00000087;
}

.text h1 {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  font-size: 1.17em;
}

.content-block {
  display: none;
}

.content-block.visible {
  display: block;
}

.music,
.about,
.works {
  padding: 20px;
}

a.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
}

a {
  color: #ffcb31;
  ;
  text-decoration: none;
}

.item a:not(.inline-link) {
  color: white;
  /*text-decoration: none;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.item .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background-color: #0b0b0b;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.link {
  font-weight: 700;
  font-size: 15px;
  color: #ffcb30 !important;
  line-height: 48px;
}


a.inline-link.link {
    line-height: 1.8em;
}

.link:hover {
  text-decoration: underline;
}

p.genre-label {
  color: white;
  font-size: 11px;
  background: #464646;
  min-width: 95px;
  padding: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  font-weight: bold;
  line-height: 1.3em;
  margin-left: auto;
  margin-right: 10px;
  text-align: center;
}

.desc-links {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  line-height: 26px;
}

.desc p {
  margin: 0;
  margin-top: 5px;
}

.item img {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
  object-fit: contain;
}

.fit-bottom {
  object-position: bottom;
}

.fit-center {
  object-position: center;
}

.fit-top {
  object-position: top
}

.item h3 {
  font-size: 0.8em;
  font-weight: 900;
  letter-spacing: 1.2px;
  line-height: 1.4em;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.item h3 span {
  margin-left: 10px;
}

.desc {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-bottom: 40px;
}

.item img {
  object-fit: cover;
}

.item .img-container img {
  max-width: 60px;
  max-height: 60px;
  border-radius: 0.4em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


/*PHOTOSWIPE*/

.pswp__zoom-wrap {
  text-align: center;
}

.pswp__zoom-wrap:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.wrap {
  line-height: 0;
  width: 100%;
  max-width: 900px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  width: 100%;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

video {
  width: 100% !important;
  height: auto !important;
}


/*PHOTOSWIPE*/

#footer {
  color: #75797d;
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 0;
}

p.disclaimer {
  font-size: 10px;
  color: #75797d;
  line-height: 1.4em;
  padding-bottom: 10px;
}

@media all and (min-width: 830px) {
  .hide-desktop {
    display: none;
  }
  .image-crop {
    display: flex;
    height: 260px;
  }
  .nav {
    font-size: 2em;
  }
  .nav-fixed {
    top: 20px;
    left: 20px;
    right: initial;
    padding: 20px !important;
    flex-direction: column;
    border-radius: 20px;
  }
  .nav-fixed a {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  p {
    font-size: 1.2em;
    line-height: 1.8em;
  }
  .logo {
    position: fixed;
    left: 20px;
  }
  .main-container {
    padding-right: 15px;
  }
  .content {
    width: 55%;
    margin-left: auto;
    padding: 20px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .text strong {
    font-size: 2em;
  }
  .text p {
    font-size: 1.2em;
    margin-top: 0;
  }
  .item h3 {
    font-size: 1.1em;
  }
  .socials a {
    font-size: 1.8em;
  }
}

@media all and (max-width:1100px) and (min-width: 830px) {
  .nav {
    font-size: 1.2em;
  }
  .text strong {
    font-size: 1.0em;
  }
  .text p {
    font-size: 0.9em;
  }
  .socials a {
    font-size: 1.4em;
    margin-right: 0.6em;
  }
  p {
    font-size: 1em;
    line-height: 1.8em;
  }
}